# 🚫 Секретные данные
.env

# 🐍 Виртуальное окружение
venv/
env/
.venv/

# 🗂️ Кэш и временные файлы
__pycache__/
*.py[cod]
*.log

# 🧪 Файлы тестов и отладок
*.sqlite3
*.db
*.bak
*.tmp

# 📦 Сборки
dist/
build/
*.egg-info/

# 💻 IDE-файлы
.vscode/
.idea/

# 📃 ОС-специфичные файлы
.DS_Store
Thumbs.db.
